services:
  web:
    container_name: WIY
    expose:
      - "8000"
    networks:
      - internal_net
    volumes:
#      - ./src:/app
      - static:/app/static
    depends_on:
      db:
        condition: service_healthy
        restart: true
    env_file:
      - .env

  nginx:
    image: nginx:alpine
    ports: 
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - static:/app/static
    depends_on:
      - web
    networks:
      - internal_net


  db:
    image: postgres:17
    container_name: postgres_db
    volumes:
      - postgres_db:/var/lib/postgresql/data/
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    networks:
      - internal_net

volumes:
  postgres_db:
  static:

networks:
  internal_net:
    driver: bridge