services:
  web:
    build:
      context: .
      target: dev
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8001:8000"
    volumes:
      - ./src:/app
    environment:
      - DEBUG=True
      - ALLOWED_HOSTS=raspberrypi,localhost

