:root
{
    --bg-colour: rgb(39, 39, 39);
    --font-colour: white;
}

body
{
    margin: 0;
    padding: 0;
    
    background-color: var(--bg-colour);
    color: var(--font-colour);
    font-family: "Arial";
}

body::selection
{
    background-color: rgb(48, 92, 128);
}

nav
{
    display: flex;
    width: 100%;
    height: 5vh;
    background-color: rgb(56, 56, 56);
    align-items: center;
    box-shadow: 2px 0 5px black;
    z-index: 99;
}

nav > ul
{
    list-style: none;
    height: inherit;
    display: inherit;
    align-items: inherit;
    gap: 5%;
}

nav > ul > li
{
    display: inherit;
    list-style: none;
    box-sizing: border-box;
    user-select: none;
}

nav > ul> li > a:hover
{
    cursor: pointer;
    background-color: rgb(72, 72, 72);
}

nav > ul> li > a
{
    border-radius: 10px;
    font-size: 30px;
    padding: 10px;
    display: block;
    color: var(--font-colour);
    text-decoration: none;
    height: 100%;
    width: 100%;
}

.content
{
    display: block;
    width: 100%;
    height: 95%;
}

.flexContent
{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
    gap: 1%;
}

.contentHeading
{
    width: 100%;
    flex-grow: 0;
}

.displayBox
{
    width: 30%;
    height: 40%;
    border: 5px double white;
    padding: 1%;
    border-radius: 10px;
    margin-bottom: 1%;
}

.snippetHeading
{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    display: block;
    padding-bottom: 1%;
}

.tabs
{
    display: flex;
}

.codeTab
{
    border: 2px solid rgb(83, 83, 83);
    background-color: rgb(30, 30, 30);
    color: var(--font-colour);
    border-bottom: 0;
    padding: 1%;
    font-weight: bold;
    font-size: large;
    flex-grow: 1;
    user-select: none;
}

pre
{
    border: 2px solid rgb(83, 83, 83);
    background-color: rgb(30, 30, 30);
    border-radius: 0 0 10px 10px;
    padding:0;
    line-height: 0.5;
    user-select: none;
    margin: 0;
}

.copy
{
    margin: 1% 1% 0 0;
    display: none;
    flex-direction: row-reverse;
}

.copyText
{
    background-color: inherit;
    color: rgb(170, 170, 170);
    display: flex;
    align-items: center;
    gap: 10%;
    flex-direction: row-reverse;
    border: 0;
    font-weight: bold;
    font-size: large;
}


code
{
    display: none;
    padding: 0 2% 0 2%;
    margin: 0;
    line-height: normal;
    user-select: text;
    font-size: large;
}

.preview
{
    width: 98%;
    margin: auto;
    background-color: gray;
    height: 400px;
}

.activeTab
{
    /*background-color: rgb(48, 48, 48);*/
    background-color: rgb(83, 83, 83);
}

.tabs > button:hover
{
    cursor: pointer;
}

.copyText:hover
{
    cursor: pointer;
}

.tooltip
{
    position: absolute;
    background-color: gray;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-right: 1%;
    border-radius: 10px;
    border: 2px solid rgb(86, 86, 86);
    display: none;
}
