:root
{
    --bg-colour: rgb(39, 39, 39);
    --font-colour: white;
}

body
{
    margin: 0;
    padding: 0;

    background-color: var(--bg-colour);
    color: var(--font-colour);
    font-family: "Arial";
}

nav
{
    display: flex;
    width: 100%;
    height: 5vh;
    background-color: rgb(56, 56, 56);
    align-items: center;
    box-shadow: 2px 0 5px black;
    z-index: 99;
}

ul
{
    list-style: none;
    height: inherit;
    display: inherit;
    align-items: inherit;
    gap: 5%;
}

li
{
    display: inherit;
    list-style: none;
    box-sizing: border-box;
    user-select: none;
}

a:hover
{
    cursor: pointer;
    background-color: rgb(72, 72, 72);
}

a
{
    border-radius: 10px;
    font-size: 30px;
    padding: 10px;
    display: block;
    color: var(--font-colour);
    text-decoration: none;
    height: 100%;
    width: 100%;
}




.content
{
    display: flex;
    width: 100%;
    height: 95vh;
}