.loginContainer
{
    width: 100%;
    height: 100%;
    position: absolute;
    align-content: center;
}

.formContainer
{
    margin: auto;
    width: 50%;
    height: 50%;
    align-content: center;
    text-align: center;

    border-radius: 100px;
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.598), 10px 10px 10px rgba(255, 255, 255, 0.133) inset, -10px -10px 10px rgba(255, 255, 255, 0.133) inset;
}

form
{
    font-size: 40px;
}

input
{
    font-size: 40px;
}

.inputField
{
    border-radius: 15px;
    background-color: inherit;
    box-shadow: 2px 2px 3px rgba(255, 255, 255, 0.133) inset, -2px -2px 3px rgba(255, 255, 255, 0.133) inset;
    border: 0;
    color: white;
}

.btn
{
    background-color: rgb(49, 49, 49);
    color: white;
    border: 0px solid black;
    border-radius: 20px;
    padding: 1%;
    box-shadow: 2px 0px 3px black;
}

.btn:hover
{
    cursor: pointer;
}

.btn:active
{
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.133) inset, -10px -10px 10px rgba(255, 255, 255, 0.133) inset;
}

.error
{
    color: red;
}

.loadingScreen
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.302);
    top:0;

    display: none;
}
