:root
{
    --bg-colour: rgb(39, 39, 39);
    --font-colour: white;
}

body
{
    margin: 0;
    padding: 0;

    background-color: var(--bg-colour);
    color: var(--font-colour);
    font-family: "Arial";
}