{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/master.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/elements.css' %}">
    <title>Elements</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="../elements">Elements</a></li>
        </ul>
    </nav>
    <div class="content">
        placeholder content
    </div>
    
</body>
</html>