{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/master.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/elements.css' %}">
    <title>Elements</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="../elements">Elements</a></li>
        </ul>
    </nav>
    <div class="content">
        <p class="contentHeading">some placeholder</p>

        <div class="flexContent">
        <div class="displayBox" id="navbarSnippet">
            <div class="snippet">
                <span class="tabs">
                    <button class="codeTab previewTab activeTab">Preview</button>
                    <button class="codeTab htmlTab">HTML</button>
                    <button class="codeTab cssTab">CSS</button>
                    <button class="codeTab fullTab">FULL</button>
                </span>
                <pre>
                <span class="copy"><button class="copyText"><image src="{% static 'assets/copy2_grey.svg' %}" height="30px"></image>Copy</button></span>
                    <code></code>
                    <samp></samp>
                </pre>
        </div>
        </div>
        </div>
    </div>
    
</body>
<script type="module" src="{% static 'JS/elements.js' %}"></script>
</html>